<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljh.mapper.ContributionMapper">


    <insert id="insertContribution" parameterType="com.ljh.pojo.entity.Contribution">
        INSERT INTO contribution (developer_id, project_id, commits_count, additions, deletions, last_commit_date, contribution_score)
        VALUES (#{developerId}, #{projectId}, #{commitsCount}, #{additions}, #{deletions}, #{lastCommitDate}, #{contributionScore})
    </insert>

</mapper>
