<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljh.mapper.DeveloperMapper">


    <insert id="saveContributorToDatabase">
        INSERT INTO developer (login, project_url)
        VALUES (#{login}, #{projectUrl});
    </insert>

    <delete id="deleteDeveloper">
        DELETE FROM developer WHERE project_url = #{projectUrl};
    </delete>

    <select id="getTop10Developers" resultType="java.lang.String">
        SELECT login
        FROM developer
        ORDER BY id DESC
        LIMIT 10
    </select>
    <select id="findContributorToDatabase" resultType="java.lang.String">
      SELECT project_url FROM developer WHERE login = #{login}
    </select>

    <select id="findDeveloperByLogin" parameterType="String" resultType="com.ljh.pojo.entity.Developer">
        SELECT * FROM developer WHERE login = #{login}
    </select>

    <select id="pageQuery" resultType="com.ljh.pojo.entity.Developer">
        SELECT * FROM developer
        ORDER BY  created_at DESC
    </select>
    <select id="getAllDevelopers" resultType="com.ljh.pojo.entity.Developer">
        SELECT * FROM developer;
    </select>
    <select id="findDevelopersByNation" resultType="com.ljh.pojo.entity.Developer">
        SELECT * FROM developer WHERE nation = #{nation}
    </select>

    <update id="updateDeveloperByLogin" parameterType="com.ljh.pojo.entity.Developer">
        UPDATE developer
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="blogUrl != null">blog_url = #{blogUrl},</if>
            <if test="profileUrl != null">profile_url = #{profileUrl},</if>
            <if test="bio != null">bio = #{bio},</if>
            <if test="nation != null">nation = #{nation},</if>
            <if test="nationConfidence != null">nation_confidence = #{nationConfidence},</if>
            <if test="field != null">field = #{field},</if>
            <if test="talentRank != null">talent_rank = #{talentRank},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </set>
        WHERE login = #{login}
    </update>

    <update id="updateDeveloperInfo">
        UPDATE developer
        <set>
            <!-- 判断字段是否为 null，非 null 时才更新 -->
            <if test="name != null">
                name = #{name},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="blogUrl != null">
                blog_url = #{blogUrl},
            </if>
            <if test="profileUrl != null">
                profile_url = #{profileUrl},
            </if>
            <if test="bio != null">
                bio = #{bio},
            </if>
            <if test="createdAt != null">
                createdAt = #{created_at},
            </if>
            <if test="updatedAt != null">
                updatedAt = #{updated_at},
            </if>
        </set>
        WHERE login = #{login}  <!-- 这里假设 login 是唯一标识 -->
    </update>

</mapper>
