<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljh.mapper.ProjectMapper">

    <insert id="insertProject" useGeneratedKeys="true" keyProperty="id" parameterType="com.ljh.pojo.entity.Project">
        INSERT INTO project (name, owner_login, repo_url, stars, forks, issues, created_at, updated_at, importance_score,description,total_commits,project_code)
        VALUES (#{name}, #{ownerLogin}, #{repoUrl}, #{stars}, #{forks}, #{issues}, #{createdAt}, #{updatedAt}, #{importanceScore},#{description},#{totalCommits},#{projectCode});
    </insert>
    <update id="updateProjectUser">
        UPDATE project
        SET project_user = #{projectUser}
        WHERE repo_url = #{repoUrl}
    </update>



    <select id="getProjectsForDeveloper" resultType="com.ljh.pojo.entity.Project">
       SELECT  * FROM project WHERE  repo_url = #{repoUrl}
    </select>
    <select id="selectByUrl" resultType="java.lang.Long">
        SELECT id FROM project WHERE repo_url = #{repoUrl}
    </select>

</mapper>
